[submodule "deps/luvit"]
	path = deps/luvit
	url = https://github.com/racker/luvit.git
	ignore = dirty
[submodule "deps/sigar"]
	path = deps/sigar
	url = https://github.com/racker/sigar.git
	ignore = dirty
[submodule "tools/gyp"]
	path = tools/gyp
	url = https://chromium.googlesource.com/external/gyp
[submodule "deps/libarchive"]
	path = deps/libarchive
	url = https://github.com/racker/libarchive.git
[submodule "modules/stream"]
	path = modules/stream
	url = https://github.com/virgo-agent-toolkit/luvit-stream.git
[submodule "modules/tape"]
	path = modules/tape
	url = https://github.com/virgo-agent-toolkit/luvit-tape.git
[submodule "modules/split-stream"]
	path = modules/split-stream
	url = https://github.com/virgo-agent-toolkit/luvit-split-stream.git
[submodule "modules/hsm"]
	path = modules/hsm
	url = https://github.com/hnakamur/luvit-hsm.git
[submodule "modules/request"]
	path = modules/request
	url = https://github.com/virgo-agent-toolkit/luvit-request.git
[submodule "modules/async"]
	path = modules/async
	url = https://github.com/virgo-agent-toolkit/luvit-async.git
