[submodule "app/modules/split-stream"]
	path = app/modules/split-stream
	url = https://github.com/virgo-agent-toolkit/luvit-split-stream.git
[submodule "app/modules/request"]
	path = app/modules/request
	url = https://github.com/virgo-agent-toolkit/luvit-request.git
[submodule "app/modules/async"]
	path = app/modules/async
	url = https://github.com/virgo-agent-toolkit/luvit-async.git
[submodule "app/modules/hsm"]
	path = app/modules/hsm
	url = https://github.com/virgo-agent-toolkit/luvit-hsm.git
[submodule "deps/luvit-up"]
	path = deps/luvit-up
	url = https://github.com/luvit/luvit.git
