environment:
  matrix:
    - LUVI_ARCH: Windows-amd64
    - LUVI_ARCH: Windows-ia32

matrix:
    fast_finish: true

build_script:
    - Make.bat lit

test_script:
    - Make.bat test

notifications:
    email: true
    irc: "irc.freenode.org#virgo"
