<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductVersion = $(var.VERSIONFULL) ?>
  <?define ProductName = $(var.SHORT_DESCRIPTION) ?>
  <?define ProductShortName = $(var.SHORT_NAME) ?>
  <?define ProductDescription = $(var.WIN_PRODUCT_DESCRIPTION) ?>
  <?define ProductServiceDescription = $(var.LONG_DESCRIPTION) ?>
  <?define ProductAuthor = $(var.AUTHOR) ?>
  <?define ProductDir = $(var.PRODUCTDIR) ?>
  <?define RepoDir = $(var.REPODIR) ?>
  <?define BundleName = $(var.BUNDLE_NAME) ?>
  <?define PkgName = $(var.PKG_NAME) ?>
  <?define PFilesDir = $(var.PFILESDIR) ?>
  <?define SourceDir = $(var.RepoDir) ?>

  <Product Name="$(var.ProductName)" Id="*" UpgradeCode="826873C9-1A63-4A05-98F4-95D8D8EF3507" Language="1033" Codepage="1252" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductAuthor)">
    <Package Id="*" Keywords="Installer" Description="$(var.ProductName) Installer" Comments="$(var.ProductDescription)" Manufacturer="$(var.ProductAuthor)" InstallerVersion="200" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
    <Upgrade Id="826873C9-1A63-4A05-98F4-95D8D8EF3507">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="99.0.0.0" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
    </InstallExecuteSequence>
    <Media Id="1" Cabinet="$(var.ProductName)Installer.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PFilesDir)" Name="PFiles">
        <Directory Id="RAXMONAGENT" Name="$(var.ProductShortName)">
          <Component Id="MainExecutable" Guid="F044290F-E32E-438D-8E1A-C628E0353BD4">
            <!--TODO: build the exe with the correct name or link it or something -->
            <File Id="agent_exe"
                    Name="$(var.PkgName).exe"
                    DiskId="1"
                    Source='$(var.ProductDir)\virgo.exe' KeyPath="yes">
            </File>
            <!--  Vital="yes" Removed until we can fixup more services integration. -->
            <!--  Suppress upgrading until it it firther tested, hard code a log file for the short term -->
            <ServiceInstall Id="Install$(var.ProductName)"
                Name="$(var.ProductName)"
                DisplayName="$(var.ProductName)"
                Type="ownProcess"
                Start="auto"
                ErrorControl="normal"
                Arguments='--logfile "C:\ProgramData\$(var.ProductShortName)\log.txt"'
                Description="$(var.ProductServiceDescription)">
              <util:ServiceConfig
                  FirstFailureActionType="restart"
                  SecondFailureActionType="restart"
                  ThirdFailureActionType="restart"
                  RestartServiceDelayInSeconds="10" />
            </ServiceInstall>
            <ServiceControl Id="StartControlAgent" Name="$(var.ProductName)" Start="install" Wait="no" />
            <ServiceControl Id="StopControlAgent" Name="$(var.ProductName)" Stop="both" Remove="uninstall" Wait="yes" />

          </Component>
          <Directory Id="PLUGINS" Name="plugins">
            <Component Id="PluginDirectory" Guid="9DC64F5F-0B17-4C73-AEEC-A906DB3DEF84">
              <CreateFolder />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder" Name="ComApptDt">
        <Directory Id="RaxMonFolder" Name="$(var.ProductShortName)">
          <Directory Id="RAXMONAGENTCONF" Name="config">
            <Component Id="ConfigDirectory" Guid="FB99EF1C-AF81-4257-9392-FBA49851A856">
              <CreateFolder />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="Complete" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="PluginDirectory" />
      <ComponentRef Id="ConfigDirectory" />
    </Feature>
    <Icon Id="agent_icon" SourceFile="$(var.BUNDLE_DIR)\agent.ico" />
    <Property Id="ARPPRODUCTICON" Value="agent_icon" />


    <WixVariable Id="WixUILicenseRtf" Value="$(var.BUNDLE_DIR)\base\LICENSE.rtf" />

    <UI Id="Virgo_Installer_UI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <!-- Hook the new welcome dialog to the next one in the stack-->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="GetRackspaceCreds">1</Publish>

      <Publish Dialog="GetRackspaceCreds" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="GetRackspaceCreds" Control="Next" Event="NewDialog" Value="PrepareDlg">1</Publish>

      <Dialog Id="GetRackspaceCreds" Width="370" Height="270" Title="!(loc.RackspaceDlgTitle)">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.PrepareDlgBitmap)" />
        <Control Id="Title" Type="Text" X="130" Y="6" Width="225" Height="30" Transparent="yes" NoPrefix="yes" Text="!(loc.RackspaceDlgHeading)" />
        <Control Id="BannerLine" Type="Line" X="125" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="135" Y="50" Width="220" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.RackspaceDlgDescription)" />

        <Control Id="Username_Text" Type="Text" X="135" Y="80" Width="220" Height="15" Transparent="yes" NoPrefix="yes" Default="yes" Text="!(loc.Username):" />
        <Control Id="Username" Type="Edit" X="135" Y="95" Width="220" Height="18" Property="USERNAME" />
        <Control Id="Password_Text" Type="Text" X="135" Y="120" Width="220" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.Password):" />
        <Control Id="Password" Type="Edit" X="135" Y="135" Width="220" Height="18" Property="PASSWORD" />

        <Control Id="Test" Type="PushButton" X="236" Y="165" Width="56" Height="17" Text="!(loc.Test)">
          <Publish Event="CustomTest" Value="PerformTest">1</Publish>
        </Control>

        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

    </UI>

    <UIRef Id="WixUI_Common" />
  </Product>
</Wix>