[Unit]
Description=$SHORT_DESCRIPTION
Documentation=$DOCUMENTATION_LINK
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/$PKG_NAME -l /var/log/$PKG_NAME.log --production --exit-on-upgrade
Restart=always

[Install]
WantedBy=multi-user.target
